* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #060606ca;

}
.calculator {
    position: relative;
    width: 340px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 15px 15px 20px rgb(37, 37, 37), -15px -15px 20px rgba(100, 100, 100, 0.733);
}
  
.calculator .buttons {
    position: relative;
    display: grid;
}
  
.calculator .buttons #value {
    position: relative;
    grid-column: span 4;
    user-select: none;
    overflow: none;
    width: 100%;
    text-align: end;
    color: #ffffff;
    height: 100px;
    line-height: 100px;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 20px #282828;
    border-radius: 10px;
    margin-bottom: 12px;
    padding: 0 20px;
    font-size: 2em;
    font-weight: 500;
}
  
.calculator .buttons span {
    position: relative;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: #ffffff;
    border: 2px solid transparent;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #1c1c1c;
}
  
.calculator .buttons span:active {
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px #212121;
    color: #ffffff;
}
  
.calculator .buttons span#clear {
    grid-column: span 2;
    background-color: #f44336;
    color: #fff;
    border: 2px solid #f13532;
}
  
.calculator .buttons span#plus {
    grid-row: span 2;
    background-color: #31a935;
    color: #fff;
    border: 2px solid #69ca69;
}
  
.calculator .buttons span#equal {
    grid-row: span 2;
    background-color: #2196f3;
    color: #fff;
    border: 2px solid #479bdc;
}
  
.calculator .buttons span#clear:active,
.calculator .buttons span#plus:active,
.calculator .buttons span#equal:active {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #404040,
    inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}
  
  